# fitlife-routines-service/.env

# Server Configuration
PORT=3001

# Database Connection
# Formato: postgresql://USUARIO:CONTRASEÑA@HOST:PUERTO/NOMBRE_DB
DATABASE_URL="postgresql://postgres:mysecretpassword@localhost:5432/fitlife_routines"